article{
    background-color: #FFECB3;
    font-size: 16px;
    color: #333;
}

#featured{
    background-color: ffd54f;
    font: bold;
    border: 2px solid;
    color: #ffa000;
}

article p{
    line-height: 1.5;
    font-style: italic;
}

